<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Akupunkturpraktiken</h2>
		<p>  <br />Kinesisk akupunktur sedan 2001<br /> Vi finns i Tidaholm och Göteborg<br/><br/> </p>
		<ul class="actions">
			<li><a href="Bokatid.html" class="button special">Boka Tid här!</a></li> <br/><br/>
			<li><li><a href="https://goo.gl/maps/ZPJC8YKKrb92" class="button speciallocation">Villgatan 11, Tidaholm</a></li><li><a href="https://goo.gl/maps/z7vSuHTi1Fn" class="button speciallocation">Första Långgatan 16,Göteborg</a></li></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Läs mer</a>
</section>
