<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Traditonel Kinesisk Medicin<br />
			Behandlingar för helheten </h2>
			<p><br /> Stödjer befintlig god hälsa, sjukdomsbehandling vid kroppslig såväl som själslig ohälsa samt estetisk akupunktur för motverka rynkor och ålderstecken.</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-balance-scale major style1"><span class="label">Välmående</span></span><br/><p>Välmående</p>

			</li>
			<li><span class="icon fa-heartbeat -o major style1"><span class="label">Ohälsa</span></span><br/><p>Ohälsa</p>
			</li>
			<li><span class="icon fa-spinner major style1"><span class="label">Skönhet</span></span><br/><p>Skönhet</p>
			</li>
		</ul>
	</div>
</section>
