<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Vad är traditionell kinesisk medicin?</h2>
			<p>Akupunktur påverkar allmäntillståndet och medverkar till homeostas/jämnvikt i kroppens funktioner.
 Sjukdomsbehandling är också en del av akupunkturen och gäller både vid kroppslig såväl som själslig ohälsa. Behandlingsområdena är av mycket skiftande slag och av ett stort antal tillstånd eftersom akupunkturen påverkar hela kroppen. WHO listar och dokumenterar sjukdomar, symtom och andra tillstånd där akupunktur har haft vetenskapligt bevisad effekt genom kontrollerade studier. <a href="http://digicollection.org/hss/en/d/Js4926e/">Klicka här för att läsa hela rapporten.</a> <br /> </p>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>Arcu accumsan</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-laptop">
				<h3>Ac Augue Eget</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-code">
				<h3>Mus Scelerisque</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Mauris Imperdiet</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>Aenean Primis</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-flag-o">
				<h3>Tortor Ut</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
		</ul>
	</div>
</section>
