<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Vad kan man behandla med akupunktur?</h2>
			<p>Akupunktur påverkar allmäntillståndet och medverkar till homeostas/jämnvikt i kroppens funktioner.
 Sjukdomsbehandling är också en del av akupunkturen och gäller både vid kroppslig såväl som själslig ohälsa. Behandlingsområdena är av mycket skiftande slag och av ett stort antal tillstånd eftersom akupunkturen påverkar hela kroppen. WHO listar och dokumenterar sjukdomar, symtom och andra tillstånd där akupunktur har haft vetenskapligt bevisad effekt genom kontrollerade studier. <a href="http://digicollection.org/hss/en/d/Js4926e/">Klicka här för att läsa hela rapporten.</a> <br /> </p>
		</header>
		<ul class="features">
			<li class="icon fa-user-graduate">
				<h3>Vem är akupunktör?</h3>
				<p>Enligt internationell standard skall en akupunktör (behandlare som utför akupunktur) ha flerårig utbildning.I Sverige är Akupunktör yrkestiteln för den som har läst minst tre år Traditionell Kinesisk Medicin där Akupunktur är den mest kända behandlingsformen. Dessutom har Akupunktörer som är medlemmar i Svenska Akupunkturförbundet
				 </p>
			</li>
			<li class="icon fa-star-o">
				<h3>TCM</h3>
				<p>Diagnostisering enligt TCM-metoden skiljer sig något från det man kan vara van vid hos sin vanliga, västerländska,läkare. Vi tar pulsen på en eller båda armarna. TCM-läkare kan känna 6 olika pulser på detta sätt. Pulsarna avslöjar bland annat leverns och njurarnas tillstånd.</p>
			</li>
			</li>

		</ul>
	</div>
</section>
