<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Traditonel Kinesisk Medicin<br />
			- Behandlingar för helheten </h2>
			<p><br /> Akupunktur stärker befintlig god hälsa och lindrar kroppslig såväl som själslig ohälsa samt förebygger tecken på åldrande. </p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-balance-scale major style1"><span class="label">Välmående</span></span><br/><br/><p>Välmående</p>

			</li>
			<li><span class="icon fa-heartbeat -o major style1"><span class="label">Ohälsa</span></span><br/><br/><p>Ohälsa</p>
			</li>
			<li><span class="icon fa-spinner major style1"><span class="label">Skönhet</span></span><br/><br/><p>Skönhet</p>
			</li>
		</ul>
	</div>
</section>
